<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="product/layout::head">
</head>
<body>
<h1>Create New Product</h1>
<a th:href="@{/products/list}">Back to Product List</a>

<form th:action="@{/products/create}" method="post" th:object="${product}" enctype="multipart/form-data">
    <input type="text" placeholder="Product ID" th:field="*{id}">
    <input type="text" placeholder="Product Name" th:field="*{name}">
    <input type="text" placeholder="Product Price" th:field="*{price}">
    <input type="text" placeholder="Product Description" th:field="*{description}">
    <input type="file" th:field="*{image}">
    <input type="submit" value="Create">
</form>
</body>
</html>